.embla {
    max-width: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y;
    margin-left: -1rem;
}

.embla__slide {
    flex: 0 0 80%;
    min-width: 0;
    padding-left: 1rem
}

.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.embla__dot {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    border: 0;
    padding: 0;
    margin: 0 0.156rem;

    width: 0.375rem;
    height: 0.375rem;
    border-radius: 9999px;

    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease-in-out;
}

.embla__dot--selected {
    width: 1.25rem;
    background-color: rgba(122, 206, 220, 0.8);
}